<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../CSS/EditAccountsCSS.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/ddad9acd2b.js" crossorigin="anonymous"></script>
    <title>DankBank</title>
</head>
<body>
<nav>
    <a href="HomePage.html"><img src="../Assets/DankBank2.png" alt="Logo, Back to Home"></a>
    <div class="account">
        <button id="LogOff" type="button" name="button">LogOff</button>
        <a id="accountDetails" href="#">T.Alberts</a>
    </div>
    <div class="editLinks">
        <a href="EditAccountsPage.html">Edit accounts</a>
        <a href="#">Edit users</a>
    </div>
</nav>
<div id="buttonContainer">
    <button id="create">Create Account</button>
    <button id="change">Change Account</button>
    <button id="deactivate">Deactivate Account</button>
</div>

<section class="accounts" id="newAccount">
    <p class="header">Create New Account</p>
    <form action="">
        <div>
            <label for="accountTypeCreate">AccountType:</label>
            <select id="accountTypeCreate" required>
                <option hidden disabled selected value>Select type</option>
                <option value="Saving">Saving</option>
                <option value="Current">Current</option>
            </select>
        </div>
        <div>
            <label for="accountHolderIdCreate">Account Holder Id:</label>
            <input name="accountHolder" id="accountHolderIdCreate" type="text" required>
        </div>
        <div>
            <label for="AbsoluteLimitCreate">Absolute Limit:</label>
            <input name="AbsoluteLimitCreate" id="AbsoluteLimitCreate" type="text" required>
        </div>
        <input id="newAccountSubmit" type="submit" value="Save">
    </form>
</section>
<section class="accounts" id="changeAccount">
    <!-- dit is de header waar "betaalrekening" of iets komt te staan -->
    <p class="header">Change Account</p>
    <form action="">
        <div>
            <label for="accountIdChange">Account ID:</label>
            <input name="accountIdChange" id="accountIdChange" type="text" required>
        </div>
        <div>
            <label for="AbsoluteLimitChange">Absolute Limit:</label>
            <input name="AbsoluteLimitChange" id="AbsoluteLimitChange" type="number" required>
        </div>
        <div>
            <label for="accountIDDeactivate">AccountType</label>
            <select id="accountIDDeactivate" name="accountIDDeactivate" required>
                <option hidden disabled selected value>Select type</option>
                <option value="Saving">Saving</option>
                <option value="Current">Current</option>
            </select>
        </div>
        <input id="changeAccountSubmit" type="submit" value="Save">
    </form>
</section>
<section class="accounts" id="deactivateAccount">
    <p class="header">Deactivate Account</p>
    <form action="">
        <div>
            <label for="userId">Account ID:</label>
            <input id="userId" type="text" required>
        </div>
        <input id="deactivateAccountSubmit" type="submit" value="Deactivate">
    </form>
</section>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        //hier komt een gedeelte om de tabjes alleen zichtbaar te maken als je admin bent
        var user = getUser(123456789);
        if (user.isEmployee === true) {
            $('.editLinks').css("display", "inline-block");
        }
    });

    $("#create").click(function () {
        $('html, body').animate({
            scrollTop: $("#newAccount").offset().top
        }, 500);
    });
    $("#change").click(function () {
        $('html, body').animate({
            scrollTop: $("#changeAccount").offset().top
        }, 800);
    });
    $("#deactivate").click(function () {
        $('html, body').animate({
            scrollTop: $("#deactivateAccount").offset().top
        }, 1200);
    });

    $('#newAccountSubmit').click(function () {
        createAccount();
    });

    $('#deactivateAccountSubmit').click(function () {
        deactiveateAccount($('#userId').val());
    });

    $('#changeAccountSubmit').click(function () {
        updateAccount($('#accountIdChange').val(), $('#AbsoluteLimitChange').val(), $('#accountIDDeactivate').val());
    });


    function createAccount() {
        var accountType = $('#accountTypeCreate').val();
        var absoluteLimit = $('#AbsoluteLimitCreate').val();
        var accountHolder = $('#accountHolderIdCreate').val();

        var account = {}
        account["absoluteLimit"] = absoluteLimit;
        account["accountHolder"] = accountHolder;
        account["accountType"] = accountType;
        account = JSON.stringify(account);
        $.ajax({
            url: 'http://localhost:8080/Api/0.1/account/register',
            type: "POST",
            contentType: "application/json",
            data: account,
            dataType: "json",
            success: function (data) {
            },
            error: function (error) {
                alert("An error occured while making a new account, please try again later");
            }
        });
    }

    function deactiveateAccount(id) {
        $.ajax({
            url: 'http://localhost:8080/Api/0.1/account/' + id + '/deactivate',
            type: "PUT",
            async: false,
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
            },
            error: function (error) {
                if (!error.status.localeCompare("202") && !error.status.localeCompare("201") && !error.status.localeCompare("200")) {
                    alert("An error occured while deactivating an account, please try again later: " + error)
                }
            }
        });
    }

    function updateAccount(id, absoluteLimit, accountType){
        var account = {}
        account["absoluteLimit"] = absoluteLimit;
        account["accountType"] = accountType;
        account = JSON.stringify(account);
        alert(account);

        $.ajax({
            url: 'http://localhost:8080/Api/0.1/account/' + id + '/details',
            type: "PUT",
            async: false,
            contentType: "application/json",
            dataType: "json",
            data: account,
            success: function (data) {
            },
            error: function (error) {
                if (!error.status.localeCompare("202") && !error.status.localeCompare("201") && !error.status.localeCompare("200")) {
                    alert("An error occured while deactivating an account, please try again later: " + error)
                }
            }
        });
    }

    function getUser(id) {
        var name = "";
        $.ajax({
            url: 'https://virtserver.swaggerhub.com/codegeneratie/Homework/1.0.0/users/' + id,
            type: "GET",
            async: false,
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                name = data;
            },
            error: function (error) {
                name = "-";
            }
        });
        return name;
    }
</script>
</html>