<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../CSS/GlobalCSS.css">
    <link rel="stylesheet" href="../CSS/RegisterCSS.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>DankBank</title>
</head>
<body>
<nav>
    <a href="HomePage.html"><img src="../Assets/DankBank2.png" alt="Logo, Back to Home"></a>
    <div class="account">
        <button id="LogOff" type="button" name="button">LogOff</button>
        <a id="accountDetails" href="#">T.Alberts</a>
    </div>
</nav>
<form id = "registerForm" action="#">
    <header id = "registerHeader">
        <h3>Register Employee</h3>
    </header>
    <section class="formGroup">
        <p><b>first name:</b></p>
        <input type="text" placeholder="first name" id="firstname"></input>
    </section>
    <section class="formGroup">
        <p><b>last name:</b></p>
        <input type="text" placeholder="last name" id="lastname"></input>
    </section>
    <section class="formGroup">
        <p><b>username:</b></p>
        <input type="text" placeholder="email@example.com" id="username"></input>
    </section>
    <section class="formGroup">
        <p><b>email:</b></p>
        <input type="text" placeholder="email@example.com" id="email"></input>
    </section>
    <section class="formGroup">
        <p><b>date of birth:</b></p>
        <input type="datetime" placeholder="yyyy-mm-dd" id="dateOfBirth"></input>
    </section>
    <section class="formGroup">
        <p><b>password:</b></p>
        <input type="password" placeholder="password" id="password"></input>
    </section>
    <section class="formGroup">
        <p><b>repeat password:</b></p>
        <input type="password" placeholder="repeat password" id="passwordRepeat"></input>
    </section>
    <section class="formGroup">
        <button type="submit" id="registerSubmit"><b>Register</b></button>
    </section >
</form>
</body>
<script type="text/javascript">
    $('#registerSubmit').click(function () {
        Register();
        return false;
    });

    //get all info from fields
    function Register() {
        var checkBox = document.getElementById("isCustomer");
        var firstname = $('#firstname').val();
        var lastname = $('#lastname').val();
        var username = $('#username').val();
        var email = $('#email').val();
        var dateOfBirth = $('#dateOfBirth').val();
        dateOfBirth = new Date(dateOfBirth);
        var password = $('#password').val();
        var passwordRepeat = $('#passwordRepeat').val();

        //check if all fields are entered
        if(firstname != "" && lastname != "" && username != "" && email != "" && dateOfBirth != "" && password != "" && passwordRepeat != ""){
            //check if passwords align
            if(password == passwordRepeat){
                //create JSON object and do post request
                var account = {}
                account["firstname"] = firstname;
                account["lastname"] = lastname;
                account["username"] = username;
                account["email"] = email;
                account["dateOfBirth"] = dateOfBirth;
                account["password"] = password;
                account["isEmployee"] = true;
                account = JSON.stringify(account);

                $.ajax({
                    url: 'http://localhost:8080/Api/0.1/users/register',
                    type: "POST",
                    data: account,
                    crossDomain: true,
                    headers: {
                    "Accept": "application/json",
                  },
                  contentType: "application/json",
                    success: function (data) {
                        alert("Your account has been created. You may now log in.");
                        window.location.href = "Login.html";
                    },
                    error: function (error) {
                        alert("An error occurred while registering, please try again later");
                    }
                });
            } else {
                alert("Entered passwords don't match");
            }
         } else {
            alert("Please fill in all fields");
         }
    }
</script>
</html>
