<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../CSS/GlobalCSS.css">
    <link rel="stylesheet" href="../CSS/UsersOverviewCSS.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>DankBank</title>
</head>
<body>
<nav>
    <a href="HomePage.html"><img src="../Assets/DankBank2.png" alt="Logo, Back to Home"></a>
    <div class="account">
        <button id="LogOff" type="button" name="button">LogOff</button>
        <a id="accountDetails" href="#">T.Alberts</a>
    </div>
</nav>
    <!-- TODO: figure out if table should be implemented or removed-->
    <form id="tableBox">
        <label>User ID:</label></br>
        <input name="userSearchID" id="userSearchID" type="string" required>
        <input id="findUserSubmit" type="submit" value="findUser"></input>
      <table>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Username</th>
          <th>Birth Date</th>
          <th>Employee</th>
          <th>Customer</th>
          <th>Active</th>
        </tr>
        <tr>
          <td id="tableID"></td>
          <td id="tableFirstName"></td>
          <td id="tableLastName"></td>
          <td id="tableEmail"></td>
          <td id="tableUsername"></td>
          <td id="tableDate"></td>
          <td id="tableCustomer"></td>
          <td id="tableEmployee"></td>
          <td id="tableActive"></td>
        </tr>
      </table>
    </form>

    <section class="users" id="editUser">
        <p class="header">Edit User</p>
        <form action="#">
            <div>
                <label for="usersID">User ID:</label>
                <input name="usersID" id="usersID" type="text" required>
            </div>
            <div>
                <label for="editUsername">Username:</label>
                <input name="editUsername" id="editUsername" type="text">
            </div>
            <div>
                <label for="editFirstName">First Name:</label>
                <input name="editFirstName" id="editFirstName" type="text">
            </div>
            <div>
                <label for="editLastName">Last Name:</label>
                <input name="editLastName" id="editLastName" type="text">
            </div>
            <div>
                <label for="editEmail">Email:</label>
                <input name="editEmail" id="editEmail" type="text">
            </div>
            <div>
                <label>Customer</label>
                <select id="customerSelect" name="customerSelect">
                    <option id="customerUnselected" value="nonSelected">Select option</option>
                    <option id="customerTrue" value="Yes">Yes</option>
                    <option id="customerFalse" value="No">No</option>
                </select>
            </br><label>Employee</label>
                <select id="employeeSelect" name="employeeSelect">
                    <option id="selectOption" value="nonSelected">Select option</option>
                    <option id="employeeTrue" value="Yes">Yes</option>
                    <option id="employeeFalse" value="No">No</option>
                </select>
            </div>
            <input id="editUserSubmit" type="submit" value="Save"></input>
        </form>
    </section>
    <section class="users" id="deactivateUser">
        <p class="header">Deactivate User</p>
        <form action="#">
            <div>
                <label for="userId">User ID:</label>
                <input id="userId" type="text" required>
            </div>
            <input id="deactivateUserSubmit" type="submit" value="Deactivate">
        </form>
    </section>
</body>
</html>

<script type="text/javascript">
    //get data from all fields when submit button is clicked
    $('#editUserSubmit').click(function () {
        updateUser($('#usersID').val(), $('#editUsername').val(), $('#editFirstName').val(), $('#editLastName').val(),
                   $('#editEmail').val(), $('#employeeSelect').val(), $('#customerSelect').val());
        return false;
    });

    //get user ID from field when deactivate button is clicked
    $('#deactivateUserSubmit').click(function () {
        deactivateUser($('#usersId').val());
        return false;
    });

    //get user ID from field when find user button is clicked
    $('#findUserSubmit').click(function () {
        displayUser($('#userSearchID').val());
        return false;
    });

    function displayUser(id){
        //TODO: fix bug; table isCustomer, isEmployee and isActive are always true.
        var user = findUser(id);
        document.getElementById("tableID").innerHTML = id;
        document.getElementById("tableFirstName").innerHTML = user.firstname;
        document.getElementById("tableLastName").innerHTML = user.lastname;
        document.getElementById("tableEmail").innerHTML = user.email;
        document.getElementById("tableUsername").innerHTML = user.username;
        document.getElementById("tableDate").innerHTML = user.dateOfBirth;
        document.getElementById("tableCustomer").innerHTML = user.isCustomer;
        document.getElementById("tableEmployee").innerHTML = user.isEmployee;
        document.getElementById("tableActive").innerHTML = user.isActive;
    }

    function findUser(id) {
        var name = "";
        $.ajax({
            url: 'https://virtserver.swaggerhub.com/codegeneratie/Homework/1.0.0/users/' + id,
            type: "GET",
            async: false,
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                name = data;
            },
            error: function (error) {
                name = "-";
            }
        });
        return name;
    }

    function updateUser(id, username, firstName, lastName, email, employeeStatus, customerStatus){
        var user = {}
        if(id != ""){ //check if ID has been filled in
            if(username != ""){
                user["username"] = username;
            }
            if(firstName != ""){
                user["firstName"] = firstName;
            }
            if(lastName != ""){
                user["lastName"] = lastName;
            }
            if(email != ""){
                user["email"] = email;
            }
            if(employeeStatus == "Yes"){
               user["isEmployee"] = true;
            } else if (employeeStatus == "No"){
                user["isEmployee"] = false;
            }
            if(customerStatus == "Yes" ){
               user["isCustomer"] = true;
            } else if (customerStatus == "No"){
                user["isCustomer"] == false;
            }
        } else {
            alert("Please fill in the ID of the user that should be updated");
        }

        $.ajax({
            url: 'http://localhost:8080/Api/0.1/users/' + id,
            type: "PUT",
            async: false,
            crossDomain: true,
            contentType: "application/json",
            dataType: "json",
            data: user,
            success: function (data) {
                alert("Success");
            },
            error: function (error) {
                if (!error.status.localeCompare("202") && !error.status.localeCompare("201") && !error.status.localeCompare("200")) {
                    alert("An error occurred while deactivating an account, please try again later: " + error)
                }
            }
        });
    }

    function deactivateUser(id) {
        $.ajax({
            url: 'http://localhost:8080/Api/0.1/users/' + id + '/deactivate',
            type: "PUT",
            async: false,
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
            },
            error: function (error) {
                if (!error.status.localeCompare("202") && !error.status.localeCompare("201") && !error.status.localeCompare("200")) {
                    alert("An error occurred while deactivating an account, please try again later: " + error)
                }
            }
        });
    }

</script>
