nav{
  display: inline-block;
  position: relative;
}

.transfer{
  border-radius: 10vw;
  border: none;
  background-color: white;
  border: 0.1vw solid #162447;
  font-size: 1.5vw;
  color: #303030;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  cursor: pointer;
  position: absolute;
  top: 11vw;
  left: 10vw;
  transition: 0.2s;
}

.transfer:hover{
  background-color: #e9eaf0;
}

.container{
  margin: 0vw;
  padding: 0vw;
  position: relative;
  top: 10vw;
  left: 10%;
  width: 80%;
  margin-bottom: 2vw;
  border: 0.1vw solid #303030;
  border-radius: 0.8vw;
  min-height: 10vw;
}

.container .header{
  font-family: 'Merriweather', serif;
  display: block;
  position: relative;
  top: 0;
  margin-top: 0;
  width: calc(100% - 2vw);
  background-color: #162447;
  font-size: 2vw;
  color: white;
  border-radius: 0.6vw 0.6vw 0 0;
  margin-bottom: 0vw;
  padding: 1vw 0 1vw 2.2vw;
}

.container .account{
  position: relative;
  margin-top: 2vw;
  border: 0.1vw solid #1f4069;
  border-radius: 0.8vw;
  width: 95%;
  margin: auto;
  margin-top: 1vw;
  margin-bottom: 1vw;
  height: 5vw;
}

.container .account .amount{
  position: absolute;
  top: 1vw;
  right: 1vw;
  float: right;
  font-size: 1.5vw;
  color: #696969;
}

.container .account .name{
  margin-left: 1vw;
  font-size: 1.5vw;
  color: #303030;
  display: block;
  padding: 0.2vw;
}

.container .account .number{
  position: relative;
  margin-left: 1vw;
  font-size: 1.3vw;
  color: #404040;
  display: block;
  padding: 0.2vw;
  bottom: 0;
}

#saving{
  position: relative;

}

label{
  font-size: 1.5vw;
}

input[type=text], input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#euro {
  width: 75%;
}

#cent {
  width: 24%
}

input[type=submit] {
  width: 100%;
  background-color: #162447;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #164447;
}

.transactionContainer   {
  border-radius: 0.8vw;
  background-color: #f2f2f2;
  padding: 20px;

}
.alert {
  display: block;
  margin-top: 20px;
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
