nav{
    position: absolute;
    top: 0vw;
    left: 0vw;
    width: 80%;
    height: 6vw;
    margin: auto;
    padding-top: 1vw;
    box-shadow: 0px 10px 10px #888888;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0px;
}

nav a img{
    position: absolute;
    top: 0vw;
    height: 80%;
    margin-top: 0.8vw;
}

nav .account{
    margin-top: 1.2vw;
    float: right;
}

nav .account #accountDetails{
    font-size: 1.5vw;
    text-decoration: none;
    color: #303030;
    border-bottom: 0.1vw solid #303030;
    margin-right: 3vw;
    cursor: pointer;
}

nav .account #LogOff{
    margin-top: -0.4vw;
    float: right;
    border-radius: 100vw;
    border: none;
    background-color: #1F4068;
    font-size: 1.5vw;
    color: white;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    cursor: pointer;
}

#buttonContainer{
    position: absolute;
    top: 10vw;
    left: 10%;
    width: 80%;
}

#buttonContainer button{
    width: 30%;
    background-color: #162447;
    color: white;
    font-size: 1.5vw;
    border: none;
    border-radius: 0.6vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    margin-left: 2vw;
}

.accounts{
    margin: 0vw;
    padding: 0vw;
    position: absolute;
    top: 16vw;
    left: 10%;
    width: 80%;
    border: 0.1vw solid #303030;
    border-radius: 0.8vw;
    height: 18vw;
}

.accounts .accountContainer{
    height: 10.5vw;
    overflow-y: scroll;
}

.accounts .header{
    font-family: 'Merriweather', serif;
    display: block;
    position: relative;
    top: 0;
    margin-top: 0;
    width: calc(100% - 2vw);
    background-color: #162447;
    font-size: 2vw;
    color: white;
    border-radius: 0.6vw 0.6vw 0 0;
    margin-bottom: 0.5vw;
    padding: 1vw 0 1vw 2.2vw;
}

.accounts form div{
    display: block;
    width: 70vw;
}

.accounts form div label{
    width: 18vw;
    display: inline-block;
    text-align: right;
    margin-bottom: 1vw;
    font-size: 1.5vw;
}
.accounts form div input{
    width: 30vw;
    display: inline-block;
    font-size: 1.5vw;
    border: none;
    border-bottom: 0.1vw solid #162447;
    background: none;
    font-family: sans-serif;
    margin-left: 1vw;
}

.accounts form div input[type=number]{
    width: 7vw;
}

.accounts form input[type=submit]{
    position: absolute;
    width: 9vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    border-radius: 0.8vw;
    right: 1vw;
    bottom: 1vw;
    border: none;
    background-color: #1F4068;
    color: white;
    font-size: 1.5vw;
    text-align: center;
    cursor: pointer;
}

.accounts form div select{
    margin-left: 1vw;
    width: 12vw;
    border: none;
    border-bottom: 0.1vw solid #162447;
    font-size: 1.5vw;
    background: none;
}



#deactivateAccountSubmit{
    background-color: #E43F5A;
}

#newAccount{
    height: 14vw;
}

#changeAccount{
    height: 14vw;
    top: 34vw;
}

#deactivateAccount{
    height: 9vw;
    margin-bottom: 10vw;
    top: 52vw;
}