.transfer{
  border-radius: 10vw;
  border: none;
  background-color: white;
  border: 0.1vw solid #162447;
  font-size: 1.5vw;
  color: #303030;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  cursor: pointer;
  position: absolute;
  top: 11vw;
  left: 10vw;
  transition: 0.2s;
}

.transfer:hover{
  background-color: #e9eaf0;
}

.accounts{
  margin: 0vw;
  padding: 0vw;
  position: absolute;
  top: 16vw;
  left: 10%;
  width: 80%;
  border: 0.1vw solid #303030;
  border-radius: 0.8vw;
  height: 18vw;
}

.accounts .accountContainer{
  height: 10.5vw;
  overflow-y: scroll;
}

.accounts .header{
  font-family: 'Merriweather', serif;
  display: block;
  position: relative;
  top: 0;
  margin-top: 0;
  width: calc(100% - 2vw);
  background-color: #162447;
  font-size: 2vw;
  color: white;
  border-radius: 0.6vw 0.6vw 0 0;
  margin-bottom: 0.5vw;
  padding: 1vw 0 1vw 2.2vw;
}

.accounts .account{
  position: relative;
  margin-top: 1vw;
  border: 0.1vw solid #1f4069;
  border-radius: 0.8vw;
  width: 95%;
  margin: auto;
  height: 4vw;
  margin-bottom: 1vw;
  height: 5vw;
}

.accounts .account .amount{
  position: absolute;
  top: 1vw;
  right: 1vw;
  float: right;
  font-size: 1.5vw;
  color: #696969;
}

.accounts .account .name{
  margin-left: 1vw;
  font-size: 1.5vw;
  color: #303030;
  display: block;
  padding: 0.2vw;
}

.accounts .account .number{
  position: relative;
  margin-left: 1vw;
  font-size: 1.3vw;
  color: #404040;
  display: block;
  padding: 0.2vw;
  bottom: 0;
}

#saving{
  top: 37vw;
  margin-bottom: 10vw;
}
