table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #1F4068;
  color: white;
}

#tableBox {
  width: 80%;
  margin-left: 10%;
  margin-top: 15%;
}
